# ignore build folders
build/
bin/

# ignore gradle folder
.gradle/

# ignore eclipse folders and settings
.settings/
.project
.classpath

# ignore IntelliJ idea folders and settings
.idea/
*.iml
/target/

# ignore vagrant files
/.vagrant/
